.git
.gitignore
.gitattributes

node_modules
vendor
public/build
public/storage

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php

.env
.env.backup
.env.production

*.md
docker-compose*.yml

.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
.idea
.vscode
.cursor
.DS_Store
Thumbs.db
